---
name: CI
on:
- push
- pull_request
jobs:
  ci:
    name: CI
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.3
    - name: Setup cache
      uses: actions/cache@v3.3.2
      with:
        path: |
          ~/.npm
          ~/.cache
        key: v4-${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          v4-${{ runner.os }}-npm-
    - name: Setup Node.js
      uses: actions/setup-node@v3.6.0
      with:
        node-version-file: .nvmrc
    - name: Install dependencies
      run: npm ci
      env:
        PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
    - name: Run checks
      run: xvfb-run --auto-servernum --server-args="-screen 0 1024x768x24" npx run-s --npm-path npm lint spellcheck test
      env:
        PUPPETEER_EXECUTABLE_PATH: /usr/bin/google-chrome
        CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
    - name: Upload coverage report
      uses: codecov/codecov-action@v3.1.4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Deploy
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        PUPPETEER_EXECUTABLE_PATH: /usr/bin/google-chrome
